.image-source {
  height: 10%;
  width: auto;
}
.image-detail p {
  text-align: left;
}

.button-icon {
  height: 150px;
}

.highlight{
  border: 2px gold;
}

.home {
  padding: 2em;
}

.button-icon {
  padding-left: 1em;
  padding-right: 1em;
}

p {
  padding-left: 2em;
}
h2 {
  text-align: center;
}